<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Clients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

<p th:insert="headerHTML"></p>

<div>
    <table>
        <tbody>
        <h1>Clients List</h1>
        <tr th:if="${clientsDtos.isEmpty()}">
            <td>No Clients</td>
        </tr>
        <th:block th:each="client : ${clientsDtos}">
            <tr>
                <td><span th:text="${client.name}">Name</span></td>
                <td><span th:text="${client.lastName}">Lastname</span></td>
                <td><span th:text="${client.city}">City</span></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>