<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Employees</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

<p th:insert="headerHTML"></p>

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
        <li><a href="/Employee/listEmployees">Pracownicy</a></li>
        <li><a href="/Job/listJobs">Zlecenia</a></li>
        <li><a href="/Client/listClients">Klienci</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <table class="table-row-cell">
        <tr>
            <td><a th:href="${'/Employee/addEmployee'}"><button>Dodaj nowego pracownika</button></a></td>
        </tr>
    </table>
</div>

<div class="container">
    <h1><mark>Active</mark>Employees List</h1>
    <table class="table table-striped table-bordered">
        <div th:if="${not #lists.isEmpty(employeesDtos)}">
            <tr>
                <th><code>Lp.</code></th>
                <th><code>Name</code></th>
                <th><code>Lastname</code></th>
                <th><code>City</code></th>
                <th><code>Worked Jobs</code></th>
            </tr>
            <tr th:each="employee : ${employeesDtos}">
                <td><span th:text="${employeeStat.count}"></span></td>
                <td><span th:text="${employee.name}"></span></td>
                <td><span th:text="${employee.lastName}"></span></td>
                <td><span th:text="${employee.city}"></span></td>
                <td><span th:text="${employee.workedJobs.size()}"></span></td>
                <td><a th:href="${'/Employee/' + employee.id + '/show'}"><button>Wyświetl</button></a></td>
                <td><a th:href="${'/Employee/' + employee.id + '/edit'}"><button>Edytuj</button></a></td>
                <td><a th:href="${'/Employee/' + employee.id + '/move_Inactive'}"><button>Dezaktywuj</button></a></td>
                <td><a th:href="${'/Employee/' + employee.id + '/delete'}"><button>Usuń</button></a></td>
            </tr>
        </div>
        <div th:if="${#lists.isEmpty(employeesDtos)}">
            <h5><kbd>No Inactive Employees</kbd></h5>
        </div>
    </table>
</div>

<div class="container">
    <h1><mark>Inactive</mark>Employees List</h1>
    <table class="table table-striped table-bordered">
        <div th:if="${not #lists.isEmpty(inactiveEmployeesDtos)}">
            <tr>
                <th><code>Lp.</code></th>
                <th><code>Name</code></th>
                <th><code>Lastname</code></th>
                <th><code>City</code></th>
                <th><code>Worked Jobs</code></th>
            </tr>
            <tr th:each="employee : ${inactiveEmployeesDtos}">
                <td><span th:text="${employeeStat.count}"></span></td>
                <td><span th:text="${employee.name}"></span></td>
                <td><span th:text="${employee.lastName}"></span></td>
                <td><span th:text="${employee.city}"></span></td>
                <td><span th:text="${employee.workedJobs.size()}"></span></td>
                <td><a th:href="${'/Employee/' + employee.id + '/show'}"><button>Wyświetl</button></a></td>
                <td><a th:href="${'/Employee/' + employee.id + '/edit'}"><button>Edytuj</button></a></td>
                <td><a th:href="${'/Employee/' + employee.id + '/move_Active'}"><button>Aktywuj</button></a></td>
                <td><a th:href="${'/Employee/' + employee.id + '/delete'}"><button>Usuń</button></a></td>
            </tr>
        </div>
        <div th:if="${#lists.isEmpty(inactiveEmployeesDtos)}">
            <h5><kbd>No Inactive Employees</kbd></h5>
        </div>
    </table>
</div>

</body>
</html>