<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Dodawanie zlecenia</title>
</head>
<body>

<p th:insert="headerHTML"></p>

<div class="container">
    <h1 th:text="'Dodaj nowe zlecenie'"></h1>

    <form class="form-horizontal" th:action="@{/Job/listJobs}" th:object="${job}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-3">Imię klienta:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{clientName}" placeholder="Imię"></label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Nazwisko klienta (nazwa Firmy):</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{clientLastName}" placeholder="Nazwisko (nazwa Firmy)"></label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Data zlecenia:</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" th:field="*{dateOfJob}" placeholder="Data"></label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Miasto:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{city}" placeholder="Miasto"></label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Adress:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{jobsAddress}" placeholder="Adress"></label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Kod pocztowy:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{jobsPostalCode}" placeholder="Kod pocztowy"></label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Rodzaj implezy:</label>
            <div class="col-sm-9">
                <select class="form-control" th:name="*{sortOfJob}">
                    <option th:value="NONE" selected="selected">---- Wybierz ----</option>
                    <option th:value="NONE">WESELE</option>
                    <option th:value="NONE">FESTYN</option>
                    <option th:value="NONE">URODZINY</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Czas trwania:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{estimatedTime}"
                       placeholder="Czas trwania (min)"></label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Liczba dzieci:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{numberOfChildren}"
                       placeholder="Liczba dzieci"></label>
            </div>
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-success">Dodaj</button>
            <a th:href="@{/Job/listJobs}">
                <button type="button" class="btn btn-info">Powrót</button>
            </a>
        </div>
    </form>
</div>

</body>
</html>