<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="Job + ' ' +  ${jobForAssign.clientName}"></title>

</head>
<body>

<p th:insert="headerHTML"></p>

<p>Name: <span th:text="${jobForAssign.clientName}"></span></p>
<th:block th:each="employee : ${jobForAssign.employees}">
    <form th:action="${'/Job/' + jobForAssign.id + '/removeAssignedEmployee/' + employee.id}"
          th:object="${jobForAssign}"
          method="post">
        <p>Employees assigned: <span th:text="${employee.name} + '; ' + ${employee.lastName}"></span>
            <button type="submit">Usuń pracownika</button>
        </p>
    </form>
</th:block>

<form th:action="@{/Job/{id}/assigningEmployee}" th:object="${jobForAssign}" method="post">
    <select th:field="*{id}">
        <option th:each="employee : ${employeesDtoAvailableToAssign}"
                th:value="${employee.id}"
                th:text="${employee.name} + '; ' + ${employee.age}"></option>
    </select>
    <button type="submit" class="btn btn-default">Dodaj pracownika</button>
</form>

</body>
</html>