<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zlecenia</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

<p th:insert="headerHTML"></p>

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/Employee/listEmployees">Pracownicy</a></li>
            <li><a href="/Job/listJobs">Zlecenia</a></li>
            <li><a href="/Client/listClients">Klienci</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <table class="table-row-cell">
        <tr>
            <td><a th:href="${'/Job/addJob'}"><button class="btn btn-info">Dodaj nowe zlecenie</button></a></td>
        </tr>
    </table>
</div>

<div class="container">
        <h1>Bierzące zlecenia</h1>
    <table class="table table-striped table-bordered">
        <div th:if="${not #lists.isEmpty(jobsDtos)}">
        <tr>
            <th><code>Lp.</code></th>
            <th><code>Nazwisko klienta (nazwa Firmy)</code></th>
            <th><code>Data zlecenia</code></th>
            <th><code>Miejsce Zlecenia</code></th>
            <th><code>Rodzaj implezy</code></th>
            <th><code>Liczba pracowników</code></th>
        </tr>
            <tr th:each="job : ${jobsDtos}">
                <td><span th:text="${jobStat.count}"></span></td>
                <td><span th:text="${job.clientLastName}"></span></td>
                <td><span th:text="${job.dateOfJob}"></span></td>
                <td><span th:text="${job.city}"></span></td>
                <td><span th:text="${job.sortOfJob}"></span></td>
                <td><span th:text="${job.employees.size()}"></span></td>
                <td><a th:href="${'/Job/' + job.id + '/show'}"><button type="submit" class="btn btn-info">Wyświetl</button></a></td>
                <td><a th:href="${'/Job/' + job.id + '/edit'}"><button type="submit" class="btn btn-info">Edytuj</button></a></td>
                <td><a th:href="${'/Job/' + job.id + '/assignEmployee'}"><button type="submit" class="btn btn-warning">Przypisz pracownika</button></a></td>
                <td><a th:href="${'/Job/' + job.id + '/move'}"><button type="submit" class="btn btn-danger">Ukończone</button></a></td>
            </tr>
        </div>
        <div th:if="${#lists.isEmpty(jobsDtos)}">
            <h5><kbd>Brak bierzących zleceń</kbd></h5>
        </div>
    </table>
</div>

<div class="container">
    <h1>Zlecenia zakończone</h1>
    <table class="table table-striped table-bordered">
        <div th:if="${not #lists.isEmpty(completedJobsDto)}">
            <tr>
                <th><code>Lp.</code></th>
                <th><code>Nazwisko klienta (nazwa Firmy)</code></th>
                <th><code>Data zlecenia</code></th>
                <th><code>Miejsce Zlecenia</code></th>
                <th><code>Rodzaj implezy</code></th>
                <th><code>Liczba pracowników</code></th>
            </tr>
            <tr th:each="job : ${completedJobsDto}">
                <td><span th:text="${jobStat.count}"></span></td>
                <td><span th:text="${job.clientLastName}"></span></td>
                <td><span th:text="${job.dateOfJob}"></span></td>
                <td><span th:text="${job.city}"></span></td>
                <td><span th:text="${job.sortOfJob}"></span></td>
                <td><span th:text="${job.employees.size()}"></span></td>
                <td><a th:href="${'/Job/' + job.id + '/show'}"><button type="submit" class="btn btn-info">Wyświetl</button></a></td>
            </tr>
        </div>
        <div th:if="${#lists.isEmpty(completedJobsDto)}">
            <h5><kbd>Brak ukończonych zleceń</kbd></h5>
        </div>
    </table>
</div>

</body>
</html>